.grad {
    height: 200px;
    width: 200px;
    border: 1px solid;
    /* border-radius: 50%; */
    margin: 50px auto;
}

#grad1 {
    background-image: radial-gradient(indigo, violet, skyblue);
}

#grad2 {
    background-image: repeating-radial-gradient(red, orange 10%, yellow 10%, blue 20%);
}

#grad3 {
    background-image: repeating-radial-gradient(orange, pink 10%, skyblue 25%);
}

#grad4 {
    background-image: conic-gradient(red 0deg 90deg, green 90deg 180deg, yellow 180deg 270deg, blue 270deg 360deg);
}

#grad5 {
    background-image: conic-gradient(rgba(0, 0, 255, 1) 0deg 45deg, rgba(0, 0, 255, 0.9) 45deg 90deg,rgba(0, 0, 255, 0.8) 90deg 135deg,rgba(0, 0, 255, 0.7) 135deg 180deg,rgba(0, 0, 255, 0.6) 180deg 225deg,rgba(0, 0, 255, 0.5) 225deg 270deg,rgba(0, 0, 255, 0.4) 270deg 315deg,rgba(0, 0, 255, 0.3) 315deg 360deg);
}
#grad6{
    background-image: conic-gradient(black 0deg 45deg,white 45deg 90deg,black 90deg 135deg,white 135deg 180deg,black 180deg 225deg,white 225deg 270deg,black 270deg 315deg,white 315deg 360deg );
}